.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'primary primary primary primary secondary secondary'
    'primary primary primary primary secondary secondary'
    'primary primary primary primary secondary secondary'
    'primary primary primary primary secondary secondary'
    'tertiary tertiary tertiary tertiary tetrary tetrary'
  ;
  min-height: 800px;
}
.grid-container > * {
  transition: all 0.2s ease-in-out;
}
.primary {
  grid-area: primary;
  background-color: #faebd7;
}
.secondary {
  grid-area: secondary;
  background-color: #d7faeb;
}
.tertiary {
  grid-area: tertiary;
  background-color: #fad7e6;
}
.tetrary {
  grid-area: tetrary;
  background-color: #d7e6fa;
}
